<!doctype html>

<html>
<head>
  <h3>chat on line</h3>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}" />
  <script type="text/javascript" src = "{{ url_for('static',filename='chat.js') }}"></script>  
</head>

  <body>
    <div class='message' id='message'>
      <ul id='messageList'>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
      </ul>
    </div>
    <div class='input'>
      <!-- <form action='/sendMessage' method='POST'> -->

	<textarea  id='inputMessage' rows="5" cols="90" name='chatmessage'></textarea>
	<!-- <input type='submit' value='发送'/>  -->
	<button  onclick="sendMessage()" class='sendMessageBtn'>发送</button>
    </div>
  </body>
</html>
